@import 'bootstrap/css/bootstrap.min.css';
#background {
  background: url("images/bg-pattern.jpg");
}

.logo {
  padding-bottom: 20px;
  padding-top: 20px;
}

.navigation {
  background-repeat: no-repeat;
  padding: 1px;
  margin: 0 200px 20px;
  height: 50px;
  width: 940px;
}
.navigation ul {
  display: inline-block;
  padding: 0px 0px 0px 40px;
}
.navigation ul li {
  float: left;
  background-position: 0 -118px;
  background-repeat: no-repeat;
  height: 49px;
  width: 122px;
  margin: 0;
  padding-left: 1px;
}
.navigation ul li a {
  color: #ffffff;
  display: block;
  text-align: center;
  padding-top: 10px;
}
.navigation ul li a:hover {
  color: red;
  text-decoration: none;
}
.navigation ul li.active a {
  color: red;
  background-color: transparent;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0px 100px 30px 130px;
}

.paragraph {
  margin: 0px 100px 30px 130px;
}

.para {
  padding-top: 100px;
  padding-bottom: 100px;
}

.header {
  padding-bottom: 30px;
}

.food-header {
  padding-bottom: 10px;
  color: blue;
}

table {
  width: 80%;
  border-collapse: collapse;
}

table.list {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

input[type=text], input[type=number], input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #dddddd;
  color: #000000;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-action-buttons {
  text-align: right;
}

.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}

a {
  text-decoration: underline;
  color: cadetblue;
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}